@import '../../main.module.scss';

.lead {
  min-height: 450px;
  @include Grid;
  align-items: center;
}
.left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 24px;
}
.follow {
  writing-mode: vertical-rl;
}
.center {
  grid-column: 3/ 11;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.title {
  font-size: calc(var(--index) * 2.65); //84px;
  line-height: 114%;
  text-transform: capitalize;
}
.scroll {
  display: flex;
  column-gap: 15px;
  align-items: center;
  cursor: pointer;
  svg {
    fill: white;
  }
}
.scroll:hover {
  color: $accent-color;
  transition: all 750ms ease;
  svg {
    fill: $accent-color;
    transition: all 750ms ease;
  }
}

.left {
  svg {
    fill: white;
    cursor: pointer;
  }
}
.left {
  svg:hover {
    fill: $accent-color;
    transition: all 750ms ease;
  }
}

@media screen and (max-width: 576px) {
  .lead {
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
  }
  .left {
    order: 2;
    flex-direction: row;
  }
  .center {
    order: 1;
  }
  .follow {
    writing-mode: initial;
    column-gap: 20px;
  }
}
