:root {
  --index: calc(1vw + 1vh);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0b1d26;
  color: #ffffff;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 1920px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  font-family: "Chronicle Display", sans-serif;
}

.name {
  font-weight: 800;
  font-size: calc(var(--index) * 0.58);
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: #fbd784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.decoration {
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background: #fbd784;
}

.logo {
  font-family: "Chronicle Display", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 38px;
  text-transform: uppercase;
  cursor: pointer;
}

.logo:hover {
  color: #fbd784;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}