@import '../../main.module.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 0;
}
.nav {
  display: flex;
  column-gap: 40px;
}
.link {
  cursor: pointer;
}
.link:hover {
  color: $accent-color;
  transition: all 750ms ease;
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    row-gap: 20px;
  }
}
