@import './styles/variables.scss';

:root {
  --index: calc(1vw + 1vh);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: $background-primary;
  color: $color-primary;
  font-family: $font-family-primary;
  font-size: 18px;
  user-select: none;
  max-width: 1920px;
  margin: 0 auto;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  font-family: $font-family-secondary;
}

.name {
  font-weight: 800;
  font-size: calc(var(--index) * 0.58); //18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: $accent-color;
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.decoration {
  content: '';
  display: block;
  width: 72px;
  height: 2px;
  background: $accent-color;
}

